/*
filename: style.css
author: Vankong VENG
created: 21/6/20  
last modified: 21/6/20      
description: all pages included in assessment folder
*/
footer {
    width: 100%;
    border-top: 3px solid #333;
    text-align: center;
    font-size: small;
    padding: 1.5em;
    background-color: goldenrod;
}

* {
    font-family:"Segoe UI",sans-serif;
}



body {
    background-color: white; 
    min-width: 750px;
}

section {
    background-color: white;
    padding: 1.5em;
    line-height: 1.5;
    text-align: center;
}


header {
    background-color: goldenrod;
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
}
header h1 a {
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

fieldset{
    margin-left: 30em;
    margin-top: -2em;
}

form {
    padding: 1.5em;
    width: 65%;
    line-height: 1.5;
}

.seminar { /*seminar text for <h2> on index.html*/
    text-shadow: 3px 3px 3px darkorange;
}

/*nav bar*/
.nav {           
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.nav a {
    float: left;
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.nav a:hover {
    background: rgb(255, 153, 0);
}
/* Dropdown button on hover & focus */

  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    padding: 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropbtn:hover, .dropbtn:focus {
    background-color: darkorange;
    cursor: pointer;
}

.error {
    color: red;
}

.success {
    color: green;
}

#logout {
    float: right;
}

.pro{
    padding-left: 20em;
    margin-top: -18.5em;
    position:relative;

}

.head{
    margin-left:-5em ;
   font-size: 2em;
}


.fed{
    width: 60%;
    margin-top: -2.2em;
}

.art{
  margin-left: -12em;  
  border-bottom:3px solid #333 ;
  padding-bottom: 1em;
}

.art2{
    margin-left: 22.5em;
}

table, th,td{
    text-align: center;
    border: 1.3px solid black;
    border-collapse: collapse;
    height: 2em;
    width: 12em;
}

table{
   table-layout: fixed;
}

.butt{
    margin-left: 68em;
    
}

.butt1{
    margin-left: 53.5em;
    
}

.butt2{
    margin-left: 53.5em;
    
}

.salesum{
    width: 20%;
    margin-left: 38.5em;
}